body {
    margin: 0px;
    font-family: 'Signika', sans-serif;
}

.left {
    float: left;
}

.right {
    float: right;
}

.clearfix:after {
    content: "";
    clear: both;
    display: block;
}

h1,h2,h3,h4,h5,h6 {
    margin-top: 0px;
}

#header {
    background-color: #040404;
}

#header .logo {
    background-color: #A9091F;
    width: 25%;
    padding-left: 15px;
}
#header .logo img {
    width: 85%;
}
#header .logo a {
    padding: 10px 0px 8px;
    display: inline-block;
}

#header ul {
    margin: 0px;
    padding: 0px;
    list-style: none;
}

#main-navigation {
    width: 50%;
    margin-left: 15px;
}
#main-navigation ul li{
    font-size: 18px;
    text-transform: uppercase;
    display: inline-block;
}
#main-navigation ul li a {
    display: block;
    padding: 15px 12px;
    color: #fff;
    text-decoration: none;
    font-weight: 700;
}
#main-navigation ul li a:hover{
    background-color: #A9091F;
}
#main-navigation .dropdown {
    position: relative;
}
#main-navigation .dropdown::after {
    content: "";
    border: 5px solid #fff;
    position: absolute;
    top: 25px;
    border-color: #fff transparent;
    border-bottom: none;
    right: 0px;
}

#main-navigation .dropdown-menu {
    position: absolute;
    width: 180%;
    border: 1px solid;
    display: none;
}
#main-navigation .dropdown-menu ul li{
    display: block;
    text-transform: capitalize;
}
#main-navigation .dropdown-menu ul li a{
    font-size: 14px;
    color: #000;
    padding: 8px;
}
#main-navigation .dropdown-menu ul li a:hover {
    background-color: #EDEDED;
}

#main-navigation .dropdown:hover .dropdown-menu {
    display: block;
}


.social_links {
    padding-top: 10px;
    width: 20%;
}
.social_links ul li {
    font-size: 20px;
    display: inline-block;
    width: 30px;
    text-align: center;
    height: 25px;
    padding-top: 5px;
}
.social_links ul li a {
    color: #fff;
}
.social_links ul li.fb {
    background-color: #294A80;
}
.social_links ul li.tw {
    background-color: #278EB6;
}
.social_links ul li.inst {
    background-color: #8A3981;
}
.social_links ul li.gp {
    background-color: #AE432A;
}
.social_links ul li.rss {
    background-color: #D0A21F;
}


/*
Common CSS
*/
.sidebar .widget ul {
    margin: 0px;
    padding: 0px;
    list-style: none;
}
.sidebar .widget li {
    margin-bottom: 20px;
}
.sidebar .widget li .image {
    width: 30%;
}
.sidebar .widget li .description {
    width: 65%;
    margin-left: 10px;
}
.sidebar .widget h3 a{
    color: #000;
    text-decoration: none;
}


/*
Content
*/
#content {
    margin-top: 100px;
    padding: 0px 20px;
}




/*
Sidebar_1
*/
#sidebar_1 {
    width: 25%;
}


/*
Main
*/
#main {
    width: 45%;
    border-left: 1px solid #ccc;
    border-right: 1px solid #ccc;
}
#main .red-ribbon {
    background-color: #B00021;
    text-transform: uppercase;
    color: #fff;
    padding: 8px 10px;
    display: inline-block;
    width: 35%;
    margin-left: -15px;
    position: relative;
}
#main .red-ribbon:after {
    content: "";
    border: 23px solid #fff;
    border-color: transparent #fff;
    border-left: none;
    position: absolute;
    right: 0px;
    top: 0px;
}


/*
Section_1
*/
#section_1 {
    padding: 0px 15px;
}
#section_1 img {
    width: 100%;
}
#section_1 .title {
    font-size: 26px;
}
#section_1 .title a{
    color: #000;
    text-decoration: none;
}


/*
Sidebar_2
*/
#sidebar_2 {
    width: 25%;
    margin-left: 15px;
}
#sidebar_2 .widget li {
    padding-bottom: 15px;
    border-bottom: 1px dotted #000;
}
